*{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: aliceblue;
    margin-right: 10%;
    margin-left: 10%;
    display: block;
    border: 1px solid black;
    width: 80%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url(https://i.pinimg.com/originals/92/4c/80/924c8056b5cca957bd51ab239a895cd1.jpg);
}

h1 {
    color:honeydew;
    margin-left: 43%;
    margin-top: 20%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

main {
    background-color: aliceblue;
    margin-right: 10%;
    margin-left: 10%;
    display: block;
    border: 1px solid black;
    width: 80%;
    height: 760px;

}

h2 {
    margin-left: 5%;
    margin-top: 5%;
}

main p {
    margin-left: 5%;
    margin-right: 5%;
}

main img {
    position: center;
    width: 90%;
    height: 400px;
    margin-left: 5%;
}