*{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: aliceblue;
    margin-right: 10%;
    margin-left: 10%;
    display: block;
    border: 1px solid white;
    width: 80%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url(https://i.pinimg.com/originals/92/4c/80/924c8056b5cca957bd51ab239a895cd1.jpg);
}

h1 {
    color:honeydew;
    margin-left: 43%;
    margin-top: 20%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

main {
    background-color: aliceblue;
    margin-right: 10%;
    margin-left: 10%;
    display: block;
    border: 1px solid aliceblue;
    width: 80%;
    height: 780px;

}

h2 {
    margin-left: 5%;
    margin-top: 5%;
}

main p {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}

main img {
    position: center;
    width: 90%;
    height: 400px;
    margin-left: 5%;
}

footer {
    background-color:peachpuff;
    margin-right: 10%;
    margin-left: 10%;
    display: block;
    border: 1px solid peachpuff;
    width: 80%;
    height: 550px;
}

footer section {
    width: 30%;
    height: 450px;
    border: 1px solid peachpuff;
    margin-left: 2.5%;
    margin-top: 3%;
    float: left;
}

section img {
    width: 100%;
    height: 150px;
}

section p {
text-align: left;
}

input[name="clic"] { 
     width: 30%;
    height: 40px;
    border-radius:100%;
    border:1px solid peachpuff;
    background-color: forestgreen;
}  

input[name="clic2"]{
    width: 30%;
    height: 40px;
    border-radius: 100%;
    border: 1px solid peachpuff;
    background-color: mediumseagreen;
    margin-top: 2%;
}

input[name="clic3"]{
    width: 30%;
    height: 40px;
    border-radius: 100%;
    border: 1px solid peachpuff;
    background-color:yellowgreen;
    margin-top: 2%;
}
